@use "../../../../Styles/variables.scss" as varr;

.listings__container {
  background-color: varr.$right__bg_white;
  display: flex;
  flex-direction: column;
  align-items: center;

  .listings__head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: varr.$padding_cards;

    .listing_see__all {
      color: varr.$main_blue;
    }
  }

  .listings__list {
    width: 100%;
  }

  .job__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    border-top: 0.5px solid rgba(153, 153, 153, 0.123);
    border-bottom: 0.1px solid rgba(153, 153, 153, 0.123);

    list-style: none;
    text-decoration: none;
    line-height: 1.5;
    padding: varr.$padding_links;

    span {
      color: #999;
      font-size: 1.5rem;
    }
  }

  .job__list:hover,
  .job__list:active {
    background-color: varr.$white_bg;
    color: varr.$main_blue;
  }

  .create_new {
    padding: varr.$padding_cards;
  }

  .create_new:hover,
  .create_new:active {
    color: varr.$main_blue;
  }

  box-shadow: varr.$box_shadow;
  border-radius: varr.$border_radius_main;
  -webkit-border-radius: varr.$border_radius_main;
  -moz-border-radius: varr.$border_radius_main;
  -ms-border-radius: varr.$border_radius_main;
  -o-border-radius: varr.$border_radius_main;
}
