@use "../../../../Styles/variables.scss" as varr;

.newbie__card {
  background-color: varr.$white_bg;
  padding: varr.$padding_cards;
  display: flex;
  flex-direction: column;
  gap: varr.$gap_L;
  box-shadow: varr.$box_shadow;
  margin-bottom: 2rem;

  img {
    width: 100%;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }

  .newbie__body {
    display: flex;
    flex-direction: column;
    gap: varr.$gap_cardtext;

    h3,
    p {
      line-height: varr.$text_height;
    }

    a {
      text-decoration: none;
      color: varr.$main_blue;
    }
  }
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
