@use "../../Styles/variables.scss" as varr;

.main__container {
  display: flex;
  justify-content: space-between;
  padding: 8rem 2%;
  gap: varr.$gap_main;
  position: relative;
}

.stopScroll {
  height: 100vh;
  overflow-y: hidden;
}
