@use "../../../../Styles/variables.scss" as varr;

.deepgram__container {
  display: flex;
  flex-direction: column;
  gap: varr.$gap_L;
  background-color: varr.$right__bg_white;
  overflow: hidden;

  img {
    width: 100%;
  }

  .deepgram__content {
    display: flex;
    flex-direction: column;
    gap: varr.$gap_L;

    .deepgram__list {
      display: flex;
      flex-direction: column;
      //   gap: varr.$gap_main;
    }

    .deepgram__header {
      padding: 0 1.2rem;
      font-size: 2.2rem;
      line-height: 1.4;
    }

    .deepgram__header:hover,
    .deepgram__header:active {
      color: varr.$main_blue;
    }
  }

  .deepgram__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: varr.$gap_cardtext;

    a {
      padding: varr.$padding_links;
      color: varr.$white_bg;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
    }

    .see__all {
      background-color: varr.$grey_bg;
      color: varr.$text_color;
    }

    .see__all:hover,
    .see__all:active {
      background-color: varr.$greybg_hover;
    }

    .submit__project {
      background-color: varr.$main_blue;
    }

    .submit__project:hover,
    .submit__project:active {
      background-color: varr.$mainBlue_hover;
    }
  }
  box-shadow: varr.$box_shadow;
  border-radius: varr.$border_radius_main;
  -webkit-border-radius: varr.$border_radius_main;
  -moz-border-radius: varr.$border_radius_main;
  -ms-border-radius: varr.$border_radius_main;
  -o-border-radius: varr.$border_radius_main;
}
